html {
    background: #16181a;
    color: #ffffffa9;
    height: 100%;
    scrollbar-gutter: stable;
}

::selection {
    color: #256ca4;
    background: #ffffffa9;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
    border: 2px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

hr {
    border-color: #ffffff40;
}

* {
    transition: 100ms;
}

*:hover {
    transition: 100ms;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* or match your theme */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loadIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes auto-hide {
    0% {
        font-size: 1em;
        opacity: 1;
        transition: 1000ms;
    }

    70% {
        font-size: 1em;
        opacity: 0;
        transition: 1000ms;
    }

    90% {
        opacity: 0;
        transition: 1000ms;
    }

    100% {
        font-size: 0px;
        opacity: 0;
        transition: 1000ms;
    }
}

body {
    min-height: 100%;
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
    scroll-behavior: smooth;
    animation: loadIn 1s forwards;
    scrollbar-gutter: stable;

    background-image: url("assets/8738899.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-gutter: stable;
}

.wrapper {
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 0px 0px;
}

.wrapper.light {
    background-image: url("assets/8738899.jpg");
}
/* 
.wrapper.dark {
    background-image: url('assets/8738899.jpg');
} */

.wrapper .image {
    width: 12%;
    height: fit-content;
    user-select: none;
}

.wrapper div.image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid #444444ad;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #2d2d2dff;
    -webkit-user-drag: none;
}

.wrapper div.container {
    width: 45%;
    filter: drop-shadow(0px 0px 10px #2d2d2d91);
}

.wrapper div.container .title {
    color: #ffffff81;
    background: #11111191;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    border: 1px solid #444444ad;
    border-bottom-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}

.buttons span,
.topbar * {
    user-select: none;
    cursor: pointer;
}

.buttons span:active,
.topbar *:active {
    opacity: 0.5;
}

div.container .main {
    background: #22222291;
    /* padding: 10px; */
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #444444ad;
    box-shadow: 0px 0px 20px #2d2d2d91;
    font-size: 18px;
    text-shadow: 0px 2px 1px #000000a8;
}

.main a {
    color: #2596be;
}

div.formatted {
    display: block;
    padding: 10px;
}
div.formatted h1 {
    margin: 0.3em 0em;
}
div.formatted h3 {
    margin: 0.5em 0em;
}
div.formatted ul {
    margin: 0em;
}

div.formatted h1,
div.formatted:not(div.formatted.standalone) h3,
div.formatted ul {
    margin-top: 0px;
}

div.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    /* background: linear-gradient(180deg, #111111c2 25%, #22222245 80%, transparent 120%); */
    background: linear-gradient(
        180deg,
        #111111c2 25%,
        #22222245 80%,
        transparent 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    z-index: 999;
}

.topbar span:not(:nth-child(2)) {
    padding: 0px 20px;
}

span.title {
    font-size: 32px;
    color: #ffffffa3;
    font-weight: 999;
    text-shadow: 0px 0px 34px rgba(255, 255, 255, 0.781);
    user-select: none;
    position: absolute;
}

nav {
    position: fixed;
    left: 0px;
    width: 15%;
    height: 100%;
    /* background: linear-gradient(90deg, #22222291, transparent); */
    /* background: linear-gradient(90deg, #111111c2 25%, #22222245 80%, transparent 120%); */
    background: linear-gradient(
        90deg,
        #111111c2 25%,
        #22222245 80%,
        transparent 100%
    );
    /* padding-left: 3%; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a:active,
button:active {
    opacity: 0.5;
}

nav a {
    padding: 0px 10px;
    cursor: pointer;
}

nav img {
    width: 1em;
    height: 1em;
}

nav span {
    display: block;
}

nav span {
    background: linear-gradient(90deg, #99999921, transparent);
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    border-right-color: transparent;
    margin-bottom: 10px;
    text-shadow: 3px 0px 10px rgba(255, 255, 255, 0.781);
    width: 100%;
    user-select: none;

    display: flex;
    align-items: center;
    gap: 10px;
}

nav span.active {
    background: linear-gradient(270deg, #99999941, #88888810);
    text-shadow: 10px 0px 20px rgba(255, 255, 255, 1);
    border-bottom-color: #ffffff44;
    border-top-color: #ffffff44;
}

nav span:hover,
nav a:hover span {
    /* padding: 10px 30px; */
    /* width: 110%; */
    border: 1px solid #444444ad;
    background: linear-gradient(270deg, #99999941, transparent);
    text-shadow: 10px 0px 20px rgba(255, 255, 255, 1);
}

/* nav span:active, nav a:active span {
    width: 107%;
} */

.container {
    transition: opacity 0.3s ease;
}

.horizontal {
    display: flex;
    gap: 10px;
}

button {
    background: #22222291;
    color: #f5f5f5a9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444444ad;
    box-shadow: 0px 0px 20px #2d2d2d91;
    margin: 10px 0px 0px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    color: whitesmoke;
    border: 1px solid #444444ad;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.image-container {
    min-width: 15vw;
    max-width: 20vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.image-container img,
video {
    background: #22222291;
    border-radius: 5px;
    border: 1px solid #444444ad;
    box-shadow: 0px 0px 20px #2d2d2d91;
    cursor: pointer;

    /* aspect-ratio: 544 / 279; */
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.image-container .caption {
    color: #ffffff81;
    margin: -2.3em 0px 0px 0px;
    padding: 5px 10px;
    background: #22222291;
    border-radius: 5px;
    border: 1px solid #444444ad;
    backdrop-filter: blur(10px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    align-self: start; /* keeps it aligned with the image */
    box-sizing: border-box;
}

#image-preview,
#power-options-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.8); */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    user-select: none;
}

#image-preview.show {
    opacity: 1;
    pointer-events: auto;
}

#image-preview img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.95);
    transition: transform 0.3s ease;

    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px #444444ad);
}

#image-preview.show img {
    transform: scale(1);
}

#close-preview {
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 10000;
}

#preview-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 6px;
    /* font-size: 16px; */
    font-size: 20px;
    max-width: 80%;
    text-align: center;
    z-index: 10001;
    box-shadow: 0px 0px 10px #444444ad;
    backdrop-filter: blur(10px);
    transition: 500ms;
}

#preview-caption::before {
    content: "(Hover to hide)";
    display: block;
    color: #ffffff81;
    overflow: hidden;
    animation: auto-hide 1s forwards 2s;
}

#power-options-box {
    /* background: #222; */
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.6); */
    box-shadow: 0px 0px 10px #444444ad;
    transform: scale(0.95);
    transition: transform 0.3s ease;
    font-size: 16px;
}

#power-options-preview.show #power-options-box {
    transform: scale(1);
}

#power-options-preview.show {
    opacity: 1;
    pointer-events: auto;
}

table {
    border: 1px solid #444444ad;
    border-radius: 5px;
    background: #22222291;
    font-size: 16px;
}

tr:first-child {
    background: #11111191;
}

tr:not(:first-child) th {
    font-weight: 100;
}

tr:not(:last-child) th {
    border-bottom: 1px solid #ffffff40;
}

th:not(:last-child) {
    border-right: 1px solid #ffffff40;
}

th {
    padding: 8px 6px;
}

/* ---------------------------------------------------------------------------------------------- */

@media screen and (min-width: 801px) {
    div.formatted {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: clip;
        min-width: 12em;
    }

    #preview-caption:hover {
        opacity: 0;
        transition: 250ms;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper .image {
        padding-left: 15%;
    }
    .wrapper div.container {
        zoom: 70%;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        padding: calc(5% + 40px) 10px 0px 10px;
        justify-content: flex-start;
        box-sizing: border-box;
    }
    .wrapper .image {
        padding-left: unset;
        position: fixed;
        z-index: 999;
    }
    .wrapper div.container {
        width: 90%;
        zoom: 72%;
        padding-top: calc(5% + 70px);
    }

    div.container:last-child {
        padding-bottom: 30%;
    }

    div.topbar {
        padding-top: 17%;
        background: linear-gradient(
            180deg,
            #111111c2 25%,
            #22222245 80%,
            transparent 100%
        );
    }

    div.topbar span:nth-child(2) {
        display: none;
    }

    div.topbar .title {
        margin-top: -24%;
    }

    .wrapper div.container .title {
        font-size: 20px;
    }

    div.container .main {
        font-size: 24px;
    }

    nav {
        width: 100%;
        height: 10%;
        background: linear-gradient(
            0deg,
            #111111c2 25%,
            #22222245 80%,
            transparent 100%
        );
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0px;
        left: 0px;
        align-items: center;
        z-index: 9999;
    }
    nav a {
        width: -webkit-fill-available;
        height: 100%;
    }
    nav span {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 5px;
        backdrop-filter: blur(10px);
    }
    nav span.active {
        background: linear-gradient(0deg, #99999941, #88888810);
    }

    nav span:hover,
    nav a:hover span {
        /* background: linear-gradient(0deg, #99999941, transparent); */
        background: unset;
    }

    .horizontal {
        flex-direction: column;
    }

    .image-container {
        width: -webkit-fill-available;
        max-width: 100%;
        box-sizing: border-box;
    }

    #preview-caption {
        font-size: 18px;
    }

    #preview-caption:active {
        opacity: 0;
        transition: 250ms;
    }

    #preview-caption::before {
        content: "(Hold to hide)";
    }

    #power-options-box {
        margin: 10%;
    }
}
